<div class="relative h-full group" (mousemove)="onMouseMove($event)">
  @if (adminService.isAdminMode()) {
    <div class="absolute -top-3 -right-3 flex gap-2 z-1 animate-in fade-in zoom-in duration-300">
      <button
        (click)="handleEdit($event)"
        class="w-10 h-10 bg-amber-400 hover:bg-amber-500 text-white rounded-full shadow-lg flex items-center justify-center transition-transform hover:scale-110 active:scale-90"
        title="แก้ไขบริการ"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>

      <button
        (click)="handleDelete($event)"
        class="w-10 h-10 bg-rose-500 hover:bg-rose-600 text-white rounded-full shadow-lg flex items-center justify-center transition-transform hover:scale-110 active:scale-90"
        title="ลบบริการ"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  }
  <div class="glass-card p-6 flex flex-col h-full min-h-92 cursor-pointer">
    <div
      class="h-36 rounded-3xl shrink-0 flex items-center justify-center relative shadow-inner overflow-hidden"
      [style.--x.px]="mouseX"
      [style.--y.px]="mouseY"
      [style.background]="
        'linear-gradient(135deg, ' + service.color_from + ', ' + service.color_to + ')'
      "
    >
      <div
        class="absolute inset-0 pointer-events-none opacity-0 group-hover:opacity-100 transition-opacity duration-500"
        style="
          background: radial-gradient(
            circle at var(--x) var(--y),
            rgba(255, 255, 255, 0.4) 0%,
            transparent 70%
          );
        "
      ></div>

      <i
        [class]="
          service.icon +
          ' text-5xl text-white drop-shadow-lg transition-transform duration-500 group-hover:scale-110 relative z-10'
        "
      ></i>

      @let config = getStatusConfig();
      <div class="absolute top-4 right-4 z-20 group/status">
        <div
          class="absolute right-full top-1/2 -translate-y-1/2 mr-2 hidden group-hover/status:block pointer-events-none"
        >
          <div
            class="backdrop-blur-md text-white text-sm px-2.5 py-1.5 rounded-xl shadow-xl border border-white/20 whitespace-nowrap animate-in fade-in slide-in-from-right-1 duration-200"
            [ngClass]="config.color"
          >
            {{ config.label }}
          </div>
        </div>

        <div
          class="flex items-center justify-center h-8 w-8 rounded-full border-2 border-white shadow-md transition-transform duration-300 group-hover/status:scale-110 cursor-help"
          [ngClass]="config.color"
        >
          <i class="fa-solid text-[12px] text-white" [ngClass]="config.icon"></i>
        </div>
      </div>
    </div>

    <div class="pt-6 text-center flex flex-col grow">
      <h2
        [title]="service.title"
        class="text-xl font-bold text-slate-800 mb-2 line-clamp-1 cursor-help"
      >
        {{ service.title }}
      </h2>
      <p
        [title]="service.description || 'ไม่มีคำอธิบายเพิ่มเติม'"
        class="text-sm text-slate-500 mb-6 leading-relaxed line-clamp-2 cursor-help"
      >
        {{ service.description || 'ไม่มีคำอธิบายเพิ่มเติม' }}
      </p>

      <a
        [href]="service.link_url"
        [target]="service.is_new_tab ? '_blank' : '_self'"
        [ngStyle]="getButtonStyles()"
        class="mt-auto w-full py-3 text-white font-bold flex items-center justify-center gap-3 transition-all active:scale-95 shadow-md group rounded-full"
        [class.pointer-events-none]="service.status === 'maintenance'"
      >
        <span class="text-sm">{{
          service.status === 'maintenance' ? 'ปิดปรับปรุง' : 'เข้าใช้งาน'
        }}</span>
        <i
          class="fa-solid text-lg inline-block transition-transform group-hover:translate-x-1.5"
          [ngClass]="service.status === 'maintenance' ? 'fa-screwdriver-wrench' : 'fa-arrow-right'"
        >
        </i>
      </a>
    </div>
  </div>
</div>
