<div
  class="fixed inset-0 z-100 flex items-center justify-center p-4 bg-slate-900/40 backdrop-blur-sm animate-in fade-in duration-300"
  (click)="onCancel()"
>
  <div
    class="glass-card max-w-md w-full p-8 shadow-2xl border-2 border-white/60 bg-white/95 relative overflow-hidden"
    (click)="$event.stopPropagation()"
  >
    <div class="absolute -right-10 -top-10 w-32 h-32 bg-rose-500/10 rounded-full blur-3xl"></div>
    <div class="text-center relative z-10">
      <div
        class="w-16 h-16 bg-rose-100 text-rose-500 rounded-2xl flex items-center justify-center text-2xl mx-auto mb-4 shadow-inner"
      >
        <i [class]="isSoftDelete ? 'fa-solid fa-trash-can' : 'fa-solid fa-eraser'"></i>
      </div>
      <h3 class="text-xl font-bold">
        {{ isSoftDelete ? 'ลบข้อมูลลงถังขยะ?' : 'ยืนยันการลบถาวร?' }}
      </h3>
      @if (adminService.activeService(); as service) {
        <p class="text-sm text-slate-700 mb-8 leading-relaxed">
          {{ isSoftDelete ? 'คุณต้องการย้ายบริการ' : 'คุณต้องการลบบริการ' }}
          <span class="font-bold text-rose-700">"{{ service.title }}"</span>
          {{ isSoftDelete ? 'ไปยังถังขยะใช่หรือไม่?' : 'ออกจากถังขยะถาวรหรือไม่?' }}
          <br />
          <span class="text-rose-700 mt-2 block">
            {{
              isSoftDelete
                ? '*** ข้อมูลนี้จะยังสามารถกู้คืนได้จากเมนูถังขยะ ***'
                : '*** ข้อมูลนี้จะหายไปจากระบบและไม่สามารถกู้คืนได้อีก ***'
            }}
          </span>
        </p>
      }
      <div class="flex gap-3">
        <button
          (click)="onCancel()"
          class="text-sm flex-1 py-3 px-4 rounded-2xl font-bold text-slate-600 hover:bg-slate-200/50 hover:text-slate-800 transition-all active:scale-95"
        >
          ยกเลิก
        </button>
        <button
          (click)="onConfirm()"
          class="text-sm flex-1 py-3 px-4 rounded-2xl font-bold text-white bg-rose-500 hover:bg-rose-600 shadow-lg shadow-rose-200 transition-all active:scale-95"
        >
          {{ isSoftDelete ? 'ย้ายลงถังขยะ' : 'ลบถาวร' }}
        </button>
      </div>
    </div>
  </div>
</div>
