<div class="min-h-screen flex flex-col">
  <div class="grow p-6 md:p-12 max-w-7xl mx-auto w-full transition-all duration-500"
    [class.opacity-40]="portalDataService.isLoading()"
    [class.pointer-events-none]="portalDataService.isLoading()"
  >
    @if (portalAdminService.isTrashMode()) {
      <app-trash-banner />
    }
    <app-hero-banner />
    @if (portalDataService.isLoading()) {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        @for (i of [1,2,3,4,5,6,7,8]; track i) {
          <app-service-skeleton />
        }
      </div>
    } @else {
      @if (filteredServices().length > 0) {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          @for (service of filteredServices(); track service.id) {
            <!-- <ชื่อคอมโพเนนต์ลูก [prop.ของลูก]="obj.ของแม่"/> -->
            <app-service-card 
              [service]="service"
              [isInTrash]="portalAdminService.isTrashMode()" />
          }
          @if (portalAdminService.isAdminMode() && !portalAdminService.isTrashMode()) {
            <app-add-service-card />
          }
        </div>
      } @else {
        @if (portalAdminService.isAdminMode() && !portalAdminService.isTrashMode()){
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <app-add-service-card />
          </div>
        } @else {
          <app-no-results />
        }
      }
    }
  </div>
  <app-footer />
  @if (authService.isAdmin()) {
    <app-admin-tool />
  }
</div>
@if (portalAdminService.activeService() && (portalAdminService.modalMode() === 'add' || portalAdminService.modalMode() === 'edit')) {
  <app-service-form-modal />
}
@if (portalAdminService.activeService() && (portalAdminService.modalMode() === 'delete' || portalAdminService.modalMode() === 'force')) {
  <app-delete-confirm-modal />
}
@if (portalAdminService.activeService() && portalAdminService.modalMode() === 'restore') {
  <app-restore-confirm-modal />
}
